<div class="row">
    <div class="col-6">
        <div class="card text-center mb-2 p-2">
            <img src="/uploads/category/Properties.png" height="100%"
                class="img-fluid category-image d-block mx-auto mb-0 " alt="">
            {{#each eachproperties}}
            <div class="text-center pt-1">
                <h6 class="mt-0 mb-1 text-orange langar"><b>{{this.NoOfPost}}</b></h6>
                <h6 class="mt-0 mb-1"><a href="/category/{{this.categories}}"
                        class="text-dark"><b>{{this.categories}}</b></a>
                </h6>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="col-6">
        <div class="card text-center mb-2 p-2">
            <img src="/uploads/category/vehicles.png" height="100%"
                class="img-fluid category-image d-block mx-auto mb-0 " alt="">
            {{#each eachvehicles}}
            <div class="text-center pt-1">
                <h6 class="mt-0 mb-1 text-orange langar"><b>{{this.NoOfPost}}</b></h6>
                <h6 class="mt-0 mb-1"><a href="/category/{{this.categories}}"
                        class="text-dark"><b>{{this.categories}}</b></a>
                </h6>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="col-6">
        <div class="card text-center mb-2 p-2">
            <img src="/uploads/category/fashion.png" height="100%"
                class="img-fluid category-image d-block mx-auto mb-0 " alt="">
            {{#each eachfashion}}
            <div class="text-center pt-1">
                <h6 class="mt-0 mb-1 text-orange langar"><b>{{this.NoOfPost}}</b></h6>
                <h6 class="mt-0 mb-1"><a href="/category/{{this.categories}}"
                        class="text-dark"><b>{{this.categories}}</b></a>
                </h6>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="col-6">
        <div class="card text-center mb-2 p-2">
            <img src="/uploads/category/mobile.png" height="100%" class="img-fluid category-image d-block mx-auto mb-0 "
                alt="">
            {{#each eachmobile}}
            <div class="text-center pt-1">
                <h6 class="mt-0 mb-1 text-orange langar"><b>{{this.NoOfPost}}</b></h6>
                <h6 class="mt-0 mb-1"><a href="/category/{{this.categories}}"
                        class="text-dark"><b>{{this.categories}}</b></a>
                </h6>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="col-6">
        <div class="card text-center mb-2 p-2">
            <img src="/uploads/category/electronics.png" height="100%"
                class="img-fluid category-image d-block mx-auto mb-0 " alt="">
            {{#each eachelectronics}}
            <div class="text-center pt-1">
                <h6 class="mt-0 mb-1 text-orange langar"><b>{{this.NoOfPost}}</b></h6>
                <h6 class="mt-0 mb-1"><a href="/category/{{this.categories}}"
                        class="text-dark"><b>{{this.categories}}</b></a>
                </h6>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="col-6">
        <div class="card text-center mb-2 p-2">
            <img src="/uploads/category/Properties.png" height="100%"
                class="img-fluid category-image d-block mx-auto mb-0 " alt="">
            {{#each eachhealth}}
            <div class="text-center pt-1">
                <h6 class="mt-0 mb-1 text-orange langar"><b>{{this.NoOfPost}}</b></h6>
                <h6 class="mt-0 mb-1"><a href="/category/{{this.categories}}"
                        class="text-dark"><b>{{this.categories}}</b></a>
                </h6>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="col-6">
        <div class="card text-center mb-2 p-2">
            <img src="/uploads/category/agric.png" height="100%" class="img-fluid category-image d-block mx-auto mb-0 "
                alt="">
            {{#each eachagriculture}}
            <div class="text-center pt-1">
                <h6 class="mt-0 mb-1 text-orange langar"><b>{{this.NoOfPost}}</b></h6>
                <h6 class="mt-0 mb-1"><a href="/category/{{this.categories}}"
                        class="text-dark"><b>{{this.categories}}</b></a>
                </h6>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="col-6">
        <div class="card text-center mb-2 p-2">
            <img src="/uploads/category/animal.png" height="100%" class="img-fluid category-image d-block mx-auto mb-0 "
                alt="">
            {{#each eachanimal}}
            <div class="text-center pt-1">
                <h6 class="mt-0 mb-1 text-orange langar"><b>{{this.NoOfPost}}</b></h6>
                <h6 class="mt-0 mb-1"><a href="/category/{{this.categories}}"
                        class="text-dark"><b>{{this.categories}}</b></a>
                </h6>
            </div>
            {{/each}}
        </div>
    </div>


    <div class="col-6">
        <div class="card text-center mb-2 p-2">
            <img src="/uploads/category/sports.png" height="100%" class="img-fluid category-image d-block mx-auto mb-0 "
                alt="">
            {{#each eachsport}}
            <div class="text-center pt-1">
                <h6 class="mt-0 mb-1 text-orange langar"><b>{{this.NoOfPost}}</b></h6>
                <h6 class="mt-0 mb-1"><a href="/category/{{this.categories}}"
                        class="text-dark"><b>{{this.categories}}</b></a>
                </h6>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="col-6">
        <div class="card text-center mb-2 p-2">
            <img src="/uploads/category/baby.png" height="100%" class="img-fluid category-image d-block mx-auto mb-0 "
                alt="">
            {{#each eachbaby}}
            <div class="text-center pt-1">
                <h6 class="mt-0 mb-1 text-orange langar"><b>{{this.NoOfPost}}</b></h6>
                <h6 class="mt-0 mb-1"><a href="/category/{{this.categories}}"
                        class="text-dark"><b>{{this.categories}}</b></a>
                </h6>
            </div>
            {{/each}}
        </div>
    </div>


</div>