<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">

            {{#if eachmobile }}
            {{#each eachmobile}}
            <div class="card mb-4 bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.seller}}</h6>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text text-dark">{{amount this.price}}</p>
                    <button class="btn orange"><a href="" class="text-white"><b>Buy</b></a></button>
                </div>
            </div>
            {{/each}}
            {{/if}}

            {{#if eachelectronics}}
            {{#each eachelectronics}}
            <div class="card mb-4 bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.seller}}</h6>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text text-dark">{{amount this.price}}</p>
                    <button class="btn orange"><a href="" class="text-white"><b>Buy</b></a></button>
                </div>
            </div>
            {{/each}}
            {{/if}}


            {{#if eachproperties}}
            {{#each eachproperties}}
            <div class="card mb-4 bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.seller}}</h6>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text text-dark">{{amount this.price}}</p>
                    <button class="btn orange"><a href="" class="text-white"><b>Buy</b></a></button>
                </div>
            </div>
            {{/each}}
            {{/if}}


            {{#if eachvehicles}}
            {{#each eachvehicles}}
            <div class="card mb-4 bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.seller}}</h6>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text text-dark">{{amount this.price}}</p>
                    <button class="btn orange"><a href="" class="text-white"><b>Buy</b></a></button>
                </div>
            </div>
            {{/each}}
            {{/if}}


            {{#if eachfashion}}
            {{#each eachfashion}}
            <div class="card mb-4 bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.seller}}</h6>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text text-dark">{{amount this.price}}</p>
                    <button class="btn orange"><a href="" class="text-white"><b>Buy</b></a></button>
                </div>
            </div>
            {{/each}}
            {{/if}}


            {{#if eachagriculture}}
            {{#each eachagriculture}}
            <div class="card mb-4 bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.seller}}</h6>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text text-dark">{{amount this.price}}</p>
                    <button class="btn orange"><a href="" class="text-white"><b>Buy</b></a></button>
                </div>
            </div>
            {{/each}}
            {{/if}}


            {{#if eachhealth}}
            {{#each eachhealth}}
            <div class="card mb-4 bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.seller}}</h6>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text text-dark">{{amount this.price}}</p>
                    <button class="btn orange"><a href="" class="text-white"><b>Buy</b></a></button>
                </div>
            </div>
            {{/each}}
            {{/if}}


            {{#if eachanimal}}
            {{#each eachanimal}}
            <div class="card mb-4 bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.seller}}</h6>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text text-dark">{{amount this.price}}</p>
                    <button class="btn orange"><a href="" class="text-white"><b>Buy</b></a></button>
                </div>
            </div>
            {{/each}}
            {{/if}}


            {{#if sport}}
            {{#each sport}}
            <div class="card mb-4 bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.seller}}</h6>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text text-dark">{{amount this.price}}</p>
                    <button class="btn orange"><a href="" class="text-white"><b>Buy</b></a></button>
                </div>
            </div>
            {{/each}}
            {{/if}}


            {{#if eachbaby}}
            {{#each eachbaby}}
            <div class="card mb-4 bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.seller}}</h6>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text text-dark">{{amount this.price}}</p>
                    <button class="btn orange"><a href="" class="text-white"><b>Buy</b></a></button>
                </div>
            </div>
            {{/each}}
            {{/if}}

        </div>
    </div>
</div>